@charset "UTF-8";

@font-face {
    font-family: Grand;
    src: url(fontes/Mont-HeavyDEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font00: 'Grand', sans-serif;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    font-size: 8vh;
    text-align: center;
}

header > p > a {
    color: white;
    text-decoration: none;
}

header > h1 {
    font-family: var(--font00);
    padding: 50px 50px 30px 50px;
    font-variant: small-caps;
}

header > p {
    display: block;
    padding-bottom: 50px;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: 700;  
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin: auto;

    line-height: 2em;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5.5vh;
    font-style: italic;
    font-weight: 700;

    background-color: white;
}


section.imagem {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.89) 2px 2px 10px;
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0.418);
    padding: 5px;

    color: white;
    text-shadow: rgba(0, 0, 0, 0.877) 2px 2px 6px;
}

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: righ center;
    position: relative;
}

#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    position: relative;
}
   
footer {
    padding: 10px;
    background-color: black;
    
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

